.App {
  padding-left: 20px;
  padding-right: 20px;
}

ul.posts {
  list-style-type: none;
  padding-left: 0;
}

ul.posts h2 span {
  float: right;
}

h1 span {
  float: right;
}

ul.posts li {
  clear: both;
  border-bottom: 1px solid gray;
}

span.vote a {
  text-decoration: none;
}

a.upvote {
  font-family: Helvetica, Arial, sans-serif;
}

a.downvote {
}

a.edit-post, a.delete-post {
  text-decoration: none;
}

a.delete-post {
  margin-left: 5px;
}

div.meta::after {
  content: "";
  clear: both;
  display: table;
}

p.author-time {
  float: left;
}

span.author, span.vote {
  border-right: 1px solid gray;
  padding-right: 5px;
  margin-right: 5px;
}

p.vote-comments {
  float: right;
}